@model Movie_Ticket_Booking_System.Models.Show

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Halls.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Halls.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
