@model Movie_Ticket_Booking_System.Models.MovieDetails

@{
    ViewBag.Title = "DetailsMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsMovies</h2>

<div>
    <h4>MovieDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePicture)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model=>model.MoviePicture)"
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditMovies", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "IndexMovies")
</p>
