@model Movie_Ticket_Booking_System.ViewModels.MovieWithShows

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .main_card {
        color: #fff;
        width: 760px;
        margin: 50px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 770px;
        background: #00C9FF;
        background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
        background: -webkit-gradient(linear, left top, right top, from(#92FE9D), to(#00C9FF));
        background: -webkit-linear-gradient(left, #92FE9D, #00C9FF);
        background: -o-linear-gradient(left, #92FE9D, #00C9FF);
        background: linear-gradient(to right, #92FE9D, #00C9FF);
        -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3);
        box-shadow: 0 0 40px rgba(0,0,0,0.3);
    }

    .card_left {
        width: 90%;
    }

    .card_datails {
        width: 90%;
        padding: 30px;
        margin-top: -25px;
    }

        .card_datails h1 {
            font-size: 30px;
        }

    .card_right img {
        height: 390px;
        border-radius: 2px;
    }

    .card_right {
        border-radius: 2px;
    }

    .card_cat {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .PG, .year, .genre, .time {
        color: fff;
        padding: 10px;
        font-weight: bold;
        border-radius: 15px;
    }

    .PG {
        background: #92FE9D;
        -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
        box-shadow: 0 0 50px rgba(0,0,0,0.1);
        -webkit-transition: 300ms ease-in-out;
    }

    .disc {
        font-weight: 100;
        line-height: 27px;
    }

    a {
        color: darkcyan;
        display: block;
        text-decoration: none;
    }

    .social-btn {
        margin-left: -10px;
    }

    .appoint {
        color: #fff;
        border: none;
        padding: 20px;
        outline: none;
        font-size: 12px;
        margin-top: 30px;
        margin-left: 10px;
        background: #92FE9D;
        border-radius: 12px;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        -webkit-transition: 300ms ease-in-out;
        -o-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out;
    }

        .appoint:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            text-decoration:none;
            color:white;
        }
</style>


<div class="wrapper">
    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">
                <h1> @Html.DisplayFor(model => model.movieDetails.MovieName)</h1>
                <div class="card_cat">
                    <p class="PG"> @Html.DisplayFor(model => model.movieDetails.Language)</p>
                    <p class="year">@Html.DisplayFor(model => model.movieDetails.RleaseDate)</p>
                    <p class="genre"> @Html.DisplayFor(model => model.movieDetails.genre) </p>
                    <p class="genre">@Html.DisplayFor(model => model.movieDetails.Country) </p>
                    <p class="time">@Html.DisplayFor(model => model.movieDetails.durationMinutes) m</p>
                </div>
                <p class="disc">@Html.DisplayFor(model => model.movieDetails.MovieDescription)</p>
                <div class="social-btn">
                    <!-- GET-->
                        @foreach (var show in Model.shows)
                        {
 
                        <a class="appoint" href="~/User/DetailsShow/@show.ID">
                            @show.Halls.Name <br/>
                            @show.startTime
                            <b >BOOk Here</b>
                            </a>
                    
                        }
                </div>
            </div>
        </div>
        <div class="card_right">
            <div class="img_container">
                <img src="~/Uploads/@Html.DisplayFor(model => model.movieDetails.MoviePicture)" alt="">
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
