@model Movie_Ticket_Booking_System.ViewModels.MovieWithShows

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MovieDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.MovieDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.MovieDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.durationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.durationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.RleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.RleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieDetails.MoviePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieDetails.MoviePicture)
        </dd>
    </dl>

    @foreach(var show in Model.shows)
            {
                @show.Halls.Name
                @show.startTime
        <a href="~/User/DetailsShow/@show.ID">BOOk Here</a>
        <br/>
            }

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
