@model IEnumerable<Movie_Ticket_Booking_System.ViewModels.CinemasInCities>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    int i = 0;
    <ul>
        @foreach (var movie in Model.ToList())
        {
            if (i == 0)
            {
                @movie.city
            }
            else if (Model.ElementAt(i).city != Model.ElementAt(i - 1).city)
            {
                @movie.city

            }
            <br />
            if (movie.cinema == null)
            {

            }
            else
            {
                @movie.cinema.CinemaName
            }
            if (movie.movieDetails != null)
            {
                foreach (var card in movie.movieDetails)
                {
                    <li> <a href="~/User/Details/@card.Id"> @card.MovieName </a></li>
                    <li> @card.Language</li>
                    <li> @card.genre</li>
                    <li> @card.RleaseDate</li>
                    <li> @card.Country</li>
                }
            }
            i++;
            <br />
        }

    </ul>
    <b> Search Option: </b>
    @Html.RadioButton("option", "Title") <text>Title</text>
    @Html.RadioButton("option", "Genere") <text> Genere </text>
    @Html.RadioButton("option", "Language")<text>Language</text>
    @Html.RadioButton("option", "ReleaseDate")<text>Release Date</text>
    @Html.RadioButton("option", "CityName")<text>City Name</text>
    @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}
